* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #101928;
}

header {
    padding: 20px 64px;
    height: 92px;
}

header div {
    float: left;
    width: 40%;
}

header div.logo h1{
    font-size: 44px;
    font-weight: 700;
}

header div.nav {
    width: 60%;
    height: 56px;
}

header div.nav ul {
    list-style: none;
}

header div.nav ul li {
    float: left;
}

header div.nav ul li:hover {
    border: 1px solid #475367;
    border-radius: 5px;
}

header div.nav ul li a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #475367;
    font-weight: 400;
    line-height: 24px;
}

header div.but {
    width: 294px;
    height: 56px;
    margin-left: 25px;
}

header div.but button {
    font-weight: 600;
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

header div.but button:first-child {
    width: 99px;
    background-color: #ffffff;
    color: #000F98;
    border: 1px solid #000F98;
    margin-right: 8px;
}

header div.but button:last-child {
    width: 179px;
    padding: 16px 0;
    background-color: #000F98;
    color: #ffffff;
}

section.sect1 {
    height: 650px;
    background-color: #F9FAFB;
    padding: 60px 64px;
}

section.sect1 div {
    float: left;
    width: 50%;
    height: 520px;
}

section.sect1 h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 56px;
    margin: 10px 0;
}

section.sect1 img {
    width: 200px;
}

section.sect1 h1 span {
    font-size: 52px;
    color: #333FAD;
}

section.sect1 p:first-child {
    width: 298px;
    font-size: 14px;
    background-color: #F5F3E6;
    color: #8A7D00;
    border-radius: 8px;
    text-align: center;
    margin-left: 10px;
}

section.sect1 p:last-child {
    color: #1D2739;
}

section.sect1 .box1 {
    padding: 100px 10px;
}

section.sect1 .box2 {
    padding-left: 40px;
}

section.sect1 .box2 img {
    width: 270px;
    height: 250px;
    margin: 0 10px 10px 0;
}

section div.but {
    height: 52px;
    margin-top: 30px;
}

section div.but button {
    font-weight: 600;
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section div.but button:last-child {
    width: 99px;
    background-color: #ffffff;
    color: #000F98;
    border: 1px solid #000F98;
}

section div.but button:first-child {
    width: 179px;
    background-color: #000F98;
    color: #ffffff;
    margin-right: 8px;
}

section.sect2 {
    height: 830px;
    padding: 60px 49px;
}

section.sect2 p:first-child {
    width: 160px;
    height: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    background-color: #F5F3E6;
    color: #8A7D00;
    border-radius: 32px;
}

section.sect2 h4 {
    height: 36px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 28px;
    line-height: 36px;
}

section.sect2 p:nth-child(3) {
    font-size: 14px;
    text-align: center;
}

section.sect2 .box {
    position: relative;
    float: left;
    width: 405px;
    height: 568px;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
    padding: 16px;
    margin: 20px 5px;
}

section.sect2 .box img {
    width: 99.7%;
    height: 236px;
}

section.sect2 .box div {
    padding: 10px 0;
}

section.sect2 .box h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5px;
    color: #1D2739;
}

section.sect2 .box p {
    font-weight: 400;
    line-height: 24px;
    color: #344054;
}

section.sect2 .box button {
    position: absolute;
    bottom: 15px;
    width: 92.7%;
    height: 56px;
    padding: 16px 10px;
    border: none;
    border-radius: 8px;
    background-color: #545EBA;
}

section.sect3 {
    padding: 60px 64px;
    height: 1400px;
    background-color: #E4E7EC;
}

section.sect3 .head {
    width: 832px;
    height: 113px;
    margin: 10px auto;
}

section.sect3 div.head div {
    float: left;
}

section.sect3 div.head img {
    height: 113px;
    width: 113px;
    margin-top: -25px;
}

section.sect3 div.head .heada {
    width: 72%;
    height: 72px;
}

section.sect3 div.head .heada h4 {
    text-align: center;
    line-height: 36px;
    font-weight: 600;
    font-size: 28px;
}

section.sect3 div.head .heada p {
    text-align: center;
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667185;
}

section.sect3 .navbar {
    width: 995px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 12px 10px;
    margin: 0 auto 50px;
}

section.sect3 .navbar ul {
    list-style: none;
}

section.sect3 .navbar ul li {
    float: left;
}

section.sect3 .navbar ul li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 35.7px;
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    border-radius: 32px;
}

section.sect3 .navbar ul li a:hover {
    color: #F9FAFB;
    background-color: #545EBA;
}

section.sect3 .container {
    height: 938px;
}

section.sect3 .container .box {
    float: left;
    width: 32.2%;
    height: 457px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
}

section.sect3 .container .box:nth-of-type(1), section.sect3 .container .box:nth-of-type(2),
section.sect3 .container .box:nth-of-type(4), section.sect3 .container .box:nth-of-type(5) {
    margin-right: 20px;
}

section.sect3 .container .box:nth-of-type(1), section.sect3 .container .box:nth-of-type(2),
section.sect3 .container .box:nth-of-type(3) {
    margin-bottom: 20px;
}

section.sect3 .container .box img:first-child {
    width: 99.7%;
    height: 236px;
}

section.sect3 .container .box .txt {
    height: 169px;
    position: relative;
    margin-top: 13px;
}

section.sect3 .container .box .txt div {
    height: 36px;
    margin-bottom: 13px;
}

section.sect3 .container .box .txt div .flo {
    float: left;
}

section.sect3 .container .box .txt div img.flo {
    float: right;
    padding: 8px 12px;
}

section.sect3 .container .box .txt .p2 {
    clear: both;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
    line-height: 24px;
}

section.sect3 .container .box .txt .p1 {
    background-color: #E6E7F5;
    color: #000F98;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 12px;
    border-radius: 4px;
}

section.sect3 .container .box .txt .p3 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #475367;
    line-height: 17.4px;
}

section.sect3 .container .box .txt .p4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

section.sect3 .container .box .txt a {
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

section.sect3 .container .box .txt a p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #000F98;
    line-height: 20px;
}

section.sect3 p:last-child {
    margin: 50px;
    text-align: center;
    line-height: 24px;
}

section.sect3 p:last-child a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}