* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #101928;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.navbar {
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    width: 45%;
    padding-left: 50px;
}

.navbar-brand h1 {
    font-size: 44px;
    font-weight: 700
}

.navbar ul li {
    width: 100px;
    text-align: center;
}

.navbar ul li a {
    color: #475367;
    padding: 14px 20px;
    font-weight: 400;
    line-height: 24px;
}

.navbar ul li:hover {
    border: 1px solid #475367;
    border-radius: 5px;
}

.navbar .btn {
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
}

.navbar .btn a {
    text-decoration: none;
    font-weight: 600;
}

.navbar .btn:nth-of-type(1) {
    width: 99px;
    background-color: #ffffff;
    border: 1px solid #000F98;
    margin-right: 8px;
}

.navbar .btn:nth-of-type(1) a {
    color: #000F98;
}

.navbar .btn:nth-of-type(2) {
    width: 179px;
    padding: 16px 0;
    background-color: #000F98;
}

.navbar .btn:nth-of-type(2) a {
    color: #ffffff;
}

section.sect1 {
    height: 950px;
    background-color: #F9FAFB;
    padding: 60px 64px;
}

section.sect1 h1 {
    flex: 1;
    font-size: 44px;
    font-weight: 500;
    line-height: 48px;
    width: 90%;
    text-align: center;
    height: 96px;
    margin: 20px auto;
}

section.sect1 img {
    width: 49%;
}

section.sect1 img:first-child {
    margin-left: 10%;
    margin-bottom: 15%;
}

section.sect1 img:last-child {
    margin-left: -23%;
    margin-top: -5%;
    width: 53%;
}

section.sect1 h1 span {
    font-size: 52px;
    color: #333FAD;
}

section.sect1 p:first-child {
    width: 310px;
    font-size: 14px;
    background-color: #FEF4E6;
    color: #E18308;
    border-radius: 32px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
}

section.sect1 .box1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 99%;
}

section.sect1 .box1 p.last {
    width: 52%;
    color: #1D2739;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 20px auto;
    opacity: 70%;
}

section div.but {
    width: 323px;
    height: 52px;
    margin: 30px auto 20px;
    padding-left: 17px;
}

section div.but button {
    font-weight: 600;
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section div.but button:last-child {
    width: 99px;
    background-color: #ffffff;
    color: #000F98;
    border: 1px solid #000F98;
}

section div.but button:last-child a {
    color: #000F98;
    text-decoration: none;
}

section div.but button:first-child {
    width: 179px;
    background-color: #000F98;
    color: #ffffff;
    margin-right: 8px;
}

section div.but button:first-child a {
    color: #ffffff;
    text-decoration: none;
}

section.sect2 {
    padding: 60px 0px;
}

section.sect2 p:first-child {
    width: 160px;
    height: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
    background-color: #F5F3E6;
    color: #8A7D00;
    border-radius: 32px;
}

section.sect2 .cup {
    width: 507px;
    height: 60px;
    margin: 0 auto;
}

section.sect2 .cup div {
    float: left;
}

section.sect2 .cup div img {
    width: 95px;
    height: 95px;
    margin-top: -25px;
}

section.sect2 h4 {
    height: 36px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    margin-left: 100px;
    font-size: 28px;
    line-height: 36px;
}

section.sect2 p:nth-child(3) {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

section.sect2 .col-md-4 {
    position: relative;
    height: 568px;
    margin: 20px 0px;
}

section.sect2 .col-md-4 article {
    height: 568px;
    padding: 15px;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.sect2 .col-md-4 img {
    width: 99.7%;
    height: 236px;
}

section.sect2 .col-md-4 div {
    padding: 10px 3px;
}

section.sect2 .col-md-4 h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5px;
    color: #1D2739;
}

section.sect2 .col-md-4 p {
    font-weight: 400;
    line-height: 24px;
    color: #344054;
}

section.sect2 .col-md-4 button {
    position: absolute;
    bottom: 15px;
    width: 85.4%;
    height: 56px;
    padding: 16px 10px;
    border: none;
    border-radius: 8px;
    background-color: #545EBA;
}

section.sect2 .col-md-4 button a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}

section.sect3 {
    background-color: rgb(236, 241, 251);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 60px 0;
    /* background-color: #E4E7EC; */
}

section.sect3 .head {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    width: 60%;
    height: 110px;
    margin: 10px auto;
}

section.sect3 div.head div {
align-items: center;
}

section.sect3 div.head img {
    height: 113px;
    width: 113px;
    margin-top: -25px;
}

section.sect3 div.head .heada {
    width: auto;
    height: 72px;
}

section.sect3 div.head .heada h4 {
    
    text-align: center;
    line-height: 36px;
    font-weight: 600;
    font-size: 28px;
}

section.sect3 div.head .heada p {
    text-align: center;
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667185;
}

section.sect3 .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    height: 67px;
 
    border-radius: 32px;
    padding: 12px 10px;
    margin: 20px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.sect3 .navbar ul {
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0;
}

section.sect3 .navbar ul li {
    float: left;
    width: 18%;
    border: none;
}

section.sect3 .navbar ul li.active {
    background-color: #545EBA;
    border-radius: 32px;
}

section.sect3 .navbar ul li.active a {
    color: #ffffff;
}

section.sect3 .navbar ul li:nth-of-type(1) {
    width: 13%;
}

section.sect3 .navbar ul li:nth-of-type(2),
section.sect3 .navbar ul li:nth-of-type(3) {
    width: 25.5%;
}

section.sect3 .navbar ul li a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    line-height: 24px;
    border-radius: 32px;
}

section.sect3 .navbar ul li a:hover {
    color: #F9FAFB;
    background-color: #545EBA;
}

section.sect3 .col-md-4 {
    position: relative;
    margin: 20px 0;
}

section.sect3 .col-md-4 article {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #D0D5DD;
    border-radius: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.sect3 .col-md-4:nth-of-type(1),
section.sect3 .col-md-4:nth-of-type(2),
section.sect3 .col-md-4:nth-of-type(3) {
    margin-bottom: 50px;
}

section.sect3 .col-md-4 img:first-child {
    width: 99.7%;
    height: 236px;
}

section.sect3 .col-md-4 .txt {
    height: 169px;
    position: relative;
    margin-top: 13px;
}

section.sect3 .col-md-4 .txt div {
    height: 36px;
    margin-bottom: 13px;
}

section.sect3 .col-md-4 .txt div .flo {
    float: left;
}

section.sect3 .col-md-4 .txt div img.flo {
    float: right;
    padding: 8px 12px;
}

section.sect3 .col-md-4 .txt .p2 {
    clear: both;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000000;
    line-height: 24px;
}

section.sect3 .col-md-4 .txt .p1 {
    background-color: #E6E7F5;
    color: #000F98;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 12px;
    border-radius: 4px;
}

section.sect3 .col-md-4 .txt .p3 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #475367;
    line-height: 17.4px;
}

section.sect3 .col-md-4 .txt .p4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

section.sect3 .col-md-4 .txt a {
    font-size: 14px;
    font-weight: 400;
    color: #000F98;
    line-height: 20px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

section.sect3 p:last-child {
    margin: 50px 0 0;
    text-align: center;
    line-height: 24px;
}

section.sect3 p:last-child a {
    color: #101928;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

section.sect4 {
    height: 1530px;
    padding: 60px 0px;
}

section.sect4 .head {
    text-align: center;
    height: 124px;
    width: 700px;
    margin: 0 auto 50px;
}

section.sect4 .head .flo {
    float: left;
}

section.sect4 .head p:first-child {
    width: 126px;
    background-color: #F5F3E6;
    color: #8A7D00;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 32px;
}

section.sect4 .head h4 {
    width: 200px;
    color: #000000;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin: 10px 0;
    margin-left: 250px;
}

section.sect4 .head img {
    width: 91px;
    height: 91px;
    margin-top: -30px;
}

section.sect4 .head p:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #667185;
    clear: left;
}

section.sect4 .row {
    height: 700px;
}

section.sect4 .row .col-md-6 {
    float: left;
    width: 53%;
    height: 580px;
    padding: 80px 32px;
}

section.sect4 .row .col-md-6:last-child {
    width: 45%;
    padding: 80px 56px;
    margin-top: 20px;
    background-color: #BAB054;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.sect4 .row .col-md-6 img {
    width: 100%;
    height: 448px;
    margin-top: -15px;
}

section.sect4 .row article:first-child {
    margin-left: 20px;
}

section.sect4 .row article:last-child {
    margin-left: 15px;
}

section.sect4 .row article .viv {
    float: left;
    width: 10%;
    margin-bottom: 20px;
    margin-top: -10px;
}

section.sect4 .row article .viv:last-child {
    width: 90%;
}

section.sect4 .row article .viv h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: #F9FAFB;
}

section.sect4 .row article .viv p {
    font-weight: 400;
    line-height: 24px;
    color: #F9FAFB;
}

section.sect4 div.sect5 {
    height: 491px;
    background-color: #E6726A;
    background-image: url(/IMG/Frame.png);
    text-align: center;
    border-radius: 24px;
    padding: 90px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.sect4 div.sect5 .txt h2 {
    width: 815px;
    margin: 0 auto;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    color: #ffffff;
}

section.sect4 div.sect5 .txt p {
    width: 562px;
    margin: 15px auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #ffffff;
}

section.sect4 div.sect5 .txt button {
    width: 179px;
    height: 52px;
    font-weight: 600;
    line-height: 24px;
    margin: 25px auto;
    background-color: #000F98;
    color: #ffffff;
    padding: 14px 10px;
    border: none;
    border-radius: 8px;
}

footer {
    position: relative;
    height: 400px;
    padding: 120px 64px 94px;
    background-color: #000640;
}

footer div {
    float: left;
    width: 20%;
}

footer div a {
    text-decoration: none;
}

footer div:nth-child(2),
footer div:nth-child(3) {
    width: 16%;
}

footer div:nth-child(4) {
    width: 19%;
}

footer div:nth-child(5) {
    width: 29%;
}

footer div h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
    margin-top: 40px;
}

footer div h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

footer div ul {
    list-style: none;
}

footer div ul li {
    margin: 6px 0;
    margin-left: -25px;
}

footer div ul li a {
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

footer div a i {
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin-right: 44px;
}

footer .copy {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    margin-left: -4.8%;
    border-top: 1px solid #ffffff;
}

footer .copy p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
}




@media only screen and (max-width: 480px) {
    .navbar-brand {
        padding-left: 10px;
    }
    
    .navbar-brand h1 {
        font-size: 35px;
    }

    .navbar ul {
        width: 100%;
        background-color: #f2f4f7;
        border-radius: 10px;
    }
    
    .navbar ul li {
        width: 100%;
        border-bottom: 1px solid #fff;
    }
    
    .navbar ul li a {
        padding: 16px 20px;
    }
    
    .navbar .btn {
        width: 100%;
        padding: 14px 10px;
    }
    
    .navbar .btn:nth-of-type(1) {
        width: 46%;
        margin-right: 0px;
    }

    .navbar .btn:nth-of-type(1):hover {
        background-color: #000F98;
    }

    .navbar .btn:nth-of-type(1):hover a {
        color: #ffffff;
    }
    
    .navbar .btn:nth-of-type(2) {
        width: 46%;
        padding: 16px 0;
        background-color: #000F98;
    }

    .navbar .btn:nth-of-type(2):hover {
        background-color: #ffffff;
        border: 1px solid #000F98;
    }

    .navbar .btn:nth-of-type(2):hover a {
        color: #000F98;
    }

    section.sect1 {
        height: 720px;
        padding: 30px 0px;
    }
    
    section.sect1 h1 {
        font-size: 35px;
        margin: 10px auto;
    }

    section.sect1 .box2 {
        margin-top: 15px;
    }
    
    section.sect1 img {
        width: 50%;
    }

    section.sect1 h1 span {
        font-size: 43px;
    }

    section.sect1 p:first-child {
        width: 280px;
        font-size: 12px;
    }
    
    section.sect1 .box1 {
        width: 100%;
    }
    
    section.sect1 .box1 p.last {
        width: 80%;
        margin: 0px auto;
    }
    
    section div.but {
        width: 93%;
        margin: 20px auto;
        padding-left: 5px;
    }

    section div.but button a {
        font-size: 14px;
    }
    
    section div.but button:last-child {
        width: 49.2%;
    }

    section div.but button:last-child:hover {
        background-color: #000F98;
    }

    section div.but button:last-child:hover a {
        color: #ffffff;
    }
    
    section div.but button:first-child {
        width: 49.2%;
        border: 1px solid #000F98;
        margin-right: 0px;
    }

    section div.but button:first-child:hover {
        background-color: #ffffff;
        border: 1px solid #000F98;
    }
    
    section div.but button:first-child:hover a {
        color: #000F98;
    }

    section.sect2 {
        padding: 30px 20px;
    }
    
    section.sect2 p:first-child {
        width: 140px;
        font-size: 10px;
    }
    
    section.sect2 .cup {
        width: 100%;
    }
    
    section.sect2 .cup div img {
        width: 60px;
        height: 60px;
        margin-top: -10px;
    }
    
    section.sect2 h4 {
        margin: 10px 0;
        margin-left: 40px;
        font-size: 20px;
    }
    
    section.sect2 p:nth-child(3) {
        font-size: 13px;
        margin-bottom: 20px;
    }

    section.sect2 .col-sm-12 {
        margin-bottom: 10px;
    }
    
    section.sect2 .col-sm-12 img {
        height: 220px;
    }
    
    section.sect2 .col-sm-12 div {
        padding: 20px 3px;
    }
    
    section.sect2 .col-sm-12 h5 {
        font-size: 20px;
    }
    
    section.sect2 .col-sm-12 p {
        font-size: 14px;
    }

    section.sect2 .col-md-4 button {
        width: 84.5%;
    }

    section.sect3 {
        padding: 30px 18px;
        /* background-color: #E4E7EC; */
    }
    
    section.sect3 .head {
        width: 100%;
        margin: 10px auto;
    }
    
    section.sect3 div.head img {
        height: 55px;
        width: 55px;
        margin-top: 0px;
    }
    
    section.sect3 div.head .heada h4 {
        font-size: 17px;
    }
    
    section.sect3 div.head .heada p {
        width: 100%;
        margin: 0px;
        font-size: 12px;
    }
    
    section.sect3 .navbar {
        display: none;
    }
    
    section.sect3 .col-md-4 {
        padding: 5px;
        margin-bottom: 10px;
    }

    section.sect3 .col-md-4:nth-of-type(1),
    section.sect3 .col-md-4:nth-of-type(2),
    section.sect3 .col-md-4:nth-of-type(3) {
        margin-bottom: 10px;
    }
    
    section.sect3 .col-md-4 img:first-child {
        height: 230px;
    }
    
    section.sect3 .col-md-4 .txt .p2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    section.sect3 .col-md-4 .txt .p1 {
        font-size: 14px;
        height: 36px;
        padding: 8px 12px;
    }
    
    section.sect3 .col-md-4 .txt .p3 {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    section.sect3 .col-md-4 .txt .p4 {
        font-size: 14px;
    }
    
    section.sect3 .col-md-4 .txt a p {
        font-size: 12px;
    }
    
    section.sect3 p:last-child {
        margin: 20px 0 0;
    }
    
    section.sect3 p:last-child a {
        font-size: 16px;
    }

    section.sect4 {
        height: 1370px;
        padding: 30px 18px;
    }
    
    section.sect4 .head {
        height: 100px;
        width: 100%;
        margin: 0 auto 10px;
    }
    
    section.sect4 .head p:first-child {
        font-size: 12px;
        padding: 3px;
    }
    
    section.sect4 .head h4 {
        margin: 3px auto;
        margin-left: 60px;
    }
    
    section.sect4 .head img {
        width: 65px;
        height: 65px;
        margin-top: -5px;
        margin-left: -10px;
    }
    
    section.sect4 .head p:last-child {
        font-size: 13px;
        line-height: 0px;
    }
    
    section.sect4 .row {
        height: 650px;
    }

    section.sect4 .row .col-md-6:first-child {
        display: none;
    }
    
    section.sect4 .row .col-md-6:last-child {
        width: 100%;
        height: 640px;
        padding: 50px 25px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    
    section.sect4 .row article:first-child {
        margin-left: 20px;
    }
    
    section.sect4 .row article:last-child {
        margin-left: 5px;
    }
    
    section.sect4 .row article .viv {
        margin-bottom: 30px;
    }

    section.sect4 .row article .viv:nth-of-type(1) {
        margin-right: 3px;
        width: 35px;
    }

    section.sect4 .row article .viv:last-child {
        width: 82%;
    }
    
    section.sect4 .row article .viv h4 {
        font-size: 24px;
    }
    
    section.sect4 .row article .viv p {
        font-size: 14px;
    }
    
    section.sect4 div.sect5 {
        width: 100%;
        height: 500px;
        padding: 30px 15px;
        margin: 30px 0;
    }
    
    section.sect4 div.sect5 .txt h2 {
        width: 100%;
        font-size: 26px;
    }
    
    section.sect4 div.sect5 .txt p {
        width: 100%;
        font-size: 18px;
    }
    
    section.sect4 div.sect5 .txt button {
        font-size: 14px;
        width: 170px;
        margin: 45px auto;
    }

    footer {
        width: 100%;
        height: 450px;
        padding: 20px;
        margin-top: 30px;
    }

    footer div:nth-child(1) {
        width: 100%;
    }
    
    footer div:nth-child(2),
    footer div:nth-child(3) {
        width: 50%;
    }
    
    footer div:nth-child(4) {
        width: 50%;
        margin-top: 15px;
    }
    
    footer div:nth-child(5) {
        width: 50%;
        margin-top: 15px;
    }
    
    footer div h2 {
        font-size: 28px;
        margin-top: 0;
    }
    
    footer div h6 {
        font-size: 16px;
        margin-bottom: 5px;
        padding-left: 20px;
    }
    
    footer div ul li {
        margin: 4px 0;
    }

    footer div ul li a {
        font-size: 14px;
    }
    
    footer div a i {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 10px;
    }
    
    footer .copy {
        width: 100%;
        height: 30px;
        padding: 5px;
    }
    
    footer .copy p {
        font-size: 12px;
    }
}




@media only screen and (max-width: 372px) {

}